/* ==========================================
   This file contains global styling rules that are applied throughout the application.

   Author: Othmane N. | Senior Developer
   Github: https://github.com/othastudio
   ==========================================
*/


$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$primary-color: #FFC41D;
$secondary-color: #307F80;
$alternative-color: #AF492C;

$dark-color: #0E0805;
$light-color: #DEDBD8;

$success-color: #39A762;
$danger-color: #dc2f20;

$font-saturday: 'Saturday',
sans-serif;
$font-akkurat-regular: 'Akkurat-Regular',
sans-serif;
$font-akkurat-bold: 'Akkurat-Bold',
sans-serif;
$font-mirage-regular: 'Mirage-Regular',
serif;
$font-mirage-medium: 'Mirage-medium',
serif;

$base-font-size: 18px;
$large-font-size: 3.5rem;
$heading-1: 2.5em;
$heading-2: 2em;
$heading-3: 1.8em;
$paragraph: 1.1em;

$font-weight-normal: 400;
$font-weight-bold: 700;

$base-spacing-unit: 10px;

$margin-top-unit: $base-spacing-unit;
$padding-bottom-unit: $base-spacing-unit * 2;
$padding-top-unit: $base-spacing-unit * 2;

$border-radius: 0px;
$border-width: 1px;
$border-color: $dark-color;

$transition-speedy: 0.5s;
$transition-medium: 1s;
$transition-slow: 1.5s;

$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);