/* ==========================================
   This file contains global styling rules that are applied throughout the application.

   Author: Othmane N. | Senior Developer
   Github: https://github.com/othastudio
   ==========================================
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$primary-color: #000000;
$secondary-color: #ffffff;
$third-color: #f9f9f9;

$dark-color: $primary-color;
$light-color: #848484;

$success-color: #39A762;
$danger-color: #dc2f20;

$font: 'Montserrat',
sans-serif;

$base-font-size: 15px;
$heading-1: 26px;
$heading-2: 22px;
$heading-3: 18px;
$paragraph: $base-font-size;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;

$base-spacing-unit: 10px;

$margin-top-unit: $base-spacing-unit;
$padding-bottom-unit: $base-spacing-unit * 2;
$padding-top-unit: $base-spacing-unit * 2;

$border-radius-sm: 2px;
$border-radius-md: 8px;
$border-width: 1px;
$border-dark: $border-width solid $dark-color;
$border-light: $border-width solid $light-color;

$transition-speedy: 0.5s;
$transition-medium: 1s;
$transition-slow: 1.5s;

$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);