$responsive: 1024px;

html {
    body {
        header {
            background-color: #ffffff;

            a.brand {
                img {
                    width: 75px;
                    height: 100%;

                    @media screen and (max-width: $responsive) {
                        width: 50px;
                    }
                }
            }
        }

        .hero {
            padding-top: 100px;
            margin-bottom: 150px;
        }
        .hero-mobile{
            display: none;
        }

        .services-section {
            .headline {}

            .content {
                justify-content: center;
                align-items: center;
                gap: 15px;

                .column-3 {
                    text-align: left;
                    padding: 30px;
                    background-color: white;

                    img {
                        width: 35px;
                        height: 35px;
                    }

                    h5 {
                        font-size: 20px;
                        border-bottom: 1px solid #1d1e20;
                        padding-bottom: 10px;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }
        }

        .project-card {
            img {
                height: 400px;
            }
        }

        .project-card-placeholder {
            a {
                background-color: rgb(236, 236, 236);
                height: 400px;

                * {
                    opacity: 1;
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }

        .clients-section {
            .logos {
                justify-content: center;

                .grid {
                    justify-content: center;

                    .image {
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #f7f7f7;

                        img {
                            width: 100%;
                            height: 150px;
                            object-fit: contain;
                            filter: grayscale(1);
                            opacity: 0.5;
                            transition: 0.4s;

                            &:hover {
                                opacity: 1;
                                filter: grayscale(0);
                            }
                        }
                    }
                }

            }
        }

        .about-hero-section {
            img {
                width: 100%;
                height: 100%;
            }

        }

        .blog-section {
            .container {
                .row {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .col {
                        width: 30%;
                        margin-bottom: 20px;
                    }

                    .article-card {
                        margin-bottom: 35px;
                        a{
                            text-decoration: none !important;
                            border: none !important;
                        }
                        img {
                            width: 100%;
                            height: 300px;
                            object-fit: cover;
                            border: 1px solid #00000014;
                            border-radius: 5px;
                        }

                        .term {
                            font-size: 16px;
                            color: #00000099;
                        }

                        h6 {
                            font-size: 23px;
                            font-weight: bold;
                            margin: 10px 0 !important;
                        }

                        p {
                            font-size: 17px;
                            opacity: 0.8;
                            margin-bottom: 10px;
                        }

                        .profile {
                            margin-top: 10px;
                            display: flex;
                            gap: 10px;
                            img {
                                width: 35px;
                                height: 35px;
                                border-radius: 100%;
                            }

                            span {
                                p {
                                    margin-bottom: 0 !important;
                                    margin-top: 0 !important;
                                    line-height: 1.3;
                                    &:first-child {
                                        font-weight: bold;
                                        font-size: 14px;
                                    }

                                    &:last-child {
                                        font-size: 14px;
                                        opacity: 0.8;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .blog-pagination{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                li{
                    padding: 5px 15px;
                    margin: 3px;
                    border-radius: 3px;
                    display: inline-block;
                    border: 1px solid transparent;
                    cursor: pointer;
                    opacity: 0.4;
                    font-size: 16px;
                    &:hover{
                        opacity: 1;
                        transition: 0.5s;
                    }
                    &.active{
                        border: 1px solid #0000001a;
                        opacity: 1;
                    }
                    &:first-child, &:last-child{
                        border: none;
                        opacity: 1;
                    }
                }
            }
        }

        .single-blog-section {
            padding-bottom: 0 !important;
            h1{
                font-size: 55px !important;
                text-align: left;
                line-height: 65px;
            }
            &.content{
                padding-top: 0 !important;
                
            }
            img {
                width: 100%;
                height: 450px;
                object-fit: cover;
                border: 1px solid #00000014;
                border-radius: 5px;
            }

        }

        .profile {
            margin-top: 10px;
            display: flex;
            gap: 10px;
            img {
                width: 35px;
                height: 35px;
                border-radius: 100%;
            }

            span {
                p {
                    margin-bottom: 0 !important;
                    margin-top: 0 !important;
                    line-height: 1.3;
                    &:first-child {
                        font-weight: bold;
                        font-size: 14px;
                    }

                    &:last-child {
                        font-size: 14px;
                        opacity: 0.8;
                    }
                }
            }
        }

        .ShareButtons{
            margin-top: 30px;
            p{
                margin: 0 !important;
                font-size: 18px;
                opacity: 0.7;
            }
            a{
                margin-right: 10px;
            }
        }

        .thumb:hover img {
            opacity: 0 !important;
            transform: scale(1.1);
        }

        .thumb p {
            font-size: 18px;
        }

        .thumb:hover p {
            font-size: 18px;
        }

        .notfound {
            .container {
                padding-bottom: 100px;
                padding-top: 50px;

                .row {
                    justify-content: center;
                    align-items: center;

                    div {
                        text-align: center;

                        img {
                            width: 400px;
                            height: 200px;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: $responsive) {
            .hero {
                display: none;
                padding-top: 100px;
                margin-bottom: 150px;
            }
            .hero-mobile{
                display: inherit;
                padding: 100px 0;
                h1{
                    font-size: 35px;
                }
            }
            .menu-opened {
                overflow: hidden !important;

                .menu:last-child {
                    padding-bottom: 7.5rem;
                }

                .burger {
                    margin: 2.25rem 1.35rem;

                    hr {
                        margin: 0;

                        &:first-child {
                            transform: rotate(-45deg);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                        }

                        &:last-child {
                            margin-top: -0.22rem;
                            transform: rotate(45deg);
                        }
                    }
                }

                header.header {
                    height: 100%;
                    -webkit-overflow-scrolling: touch;
                }

                header.header {
                    overflow-y: hidden !important;
                    height: 100vh;
                }

                .menu {
                    visibility: visible;
                    opacity: 1;
                    display: block;
                    transform: translateY(0);
                }
            }

            .nav-alt.menu-opened {
                header.header {
                    height: 100vh;
                    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
                    background: white !important;
                }

                .content {
                    visibility: hidden;
                    opacity: 0;
                }

                .menu {
                    visibility: visible;
                    opacity: 1;
                }

                .menu.main .menu-item a {
                    opacity: 1;
                    transform: scale(1);
                    transition: all .6s;
                }

                .burger {
                    margin: 2.25rem 1.35rem;

                    hr:first-child {
                        transform: rotate(-45deg);
                    }

                    hr:nth-child(2) {
                        opacity: 0;
                    }

                    hr:last-child {
                        margin-top: -.19rem;
                        transform: rotate(45deg);
                    }
                }
            }

            .about-hero-section {
                .column-6 {
                    &:last-child {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .featured-projects {

                //display: none;
                .project-card {
                    a {
                        pointer-events: none;

                        img {
                            height: 350px;
                        }

                        .labels,
                        .caption {
                            display: none;
                        }
                    }
                }
            }
            .project-card {
                a {
                    pointer-events: none;

                    img {
                        height: 350px;
                    }

                    .labels,
                    .caption {
                        display: none;
                    }
                }
            }

            .clients-section {
                img {
                    width: 100px;
                }

                .logos {
                    .grid {
                        .image {
                            display: flex;

                            img {
                                width: 70%;
                                height: 100px;
                            }
                        }
                    }
                }
            }
            .blog-section {
                .container {
                    .row {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .col {
                            width: 100%;
                            margin-bottom: 20px;
                        }
    
                        .article-card {
                            margin-bottom: 35px;
                            a{
                                text-decoration: none !important;
                                border: none !important;
                            }
                            img {
                                width: 100%;
                                height: 300px;
                                object-fit: cover;
                                border: 1px solid #00000014;
                                border-radius: 5px;
                            }
    
                            .term {
                                font-size: 16px;
                                color: #00000099;
                            }
    
                            h6 {
                                font-size: 23px;
                                font-weight: bold;
                                margin: 10px 0 !important;
                            }
    
                            p {
                                font-size: 17px;
                                opacity: 0.8;
                                margin-bottom: 10px;
                            }
    
                            .profile {
                                margin-top: 10px;
                                display: flex;
                                gap: 10px;
                                img {
                                    width: 35px;
                                    height: 35px;
                                    border-radius: 100%;
                                }
    
                                span {
                                    p {
                                        margin-bottom: 0 !important;
                                        margin-top: 0 !important;
                                        line-height: 1.3;
                                        &:first-child {
                                            font-weight: bold;
                                            font-size: 14px;
                                        }
    
                                        &:last-child {
                                            font-size: 14px;
                                            opacity: 0.8;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .single-blog-section {
                padding-bottom: 0 !important;
                h1{
                    font-size: 25px !important;
                    text-align: left;
                    line-height: 35px;
                }
                &.content{
                    padding-top: 0 !important;
                    
                }
                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border: 1px solid #00000014;
                    border-radius: 5px;
                }
    
            }
            .profile {
                margin-top: 10px;
                display: flex;
                gap: 10px;
                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                }
    
                span {
                    p {
                        margin-bottom: 0 !important;
                        margin-top: 0 !important;
                        line-height: 1.3;
                        &:first-child {
                            font-weight: bold;
                            font-size: 14px;
                        }
    
                        &:last-child {
                            font-size: 14px;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

.lined {
    border-bottom: 1px solid #1d1e20;
}